body {

    background-color: LightPink;
  
  }
  
img {

    max-width: 400px;
  
  }

  h1,h2, p, li {

    font-family: Helvetica, Arial, sans-serif;
  
  }  

  img {
    border-style: dotted;
    border-width: 8px;
    border-color: palevioletred;
  }

h1 {
    color: whitesmoke;
}

h2 {
    color: MediumSlateBlue;
}
.gliss{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: turquoise;
}
.dot{
    font-weigh: bold;
    color: MediumVioletRed;


